h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.325;

  @include mq(xlarge) {
    font-size: 6.8rem;
  }

  @include mq(large) {
    font-size: 5.4rem;
  }

  @include mq(medium) {
    font-size: 4.6rem;
  }

  @include mq(small) {
    font-size: 4.2rem;
  }
}

h3 {
  margin-bottom: 0.9em;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.105;
  white-space: pre-wrap;

  @include mq(xlarge) {
    font-size: 3.6rem;
  }

  @include mq(large) {
    font-size: 3rem;
  }

  @include mq(medium) {
    font-size: 2.6rem;
  }

  @include mq(small) {
    font-size: 2.3rem;
  }
}

p {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.575;

  @include mq(xlarge) {
    font-size: 1.6rem;
  }
}
