@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);

  @if ($size) {
    @media (#{$size}) {
      @content;
    }
  }
}

@mixin row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin transition {
  transition: 0.3s ease-out 0.1s;
}
